.footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    .formulario {
        color: white;
        font-size: 16px;
        display: flex;
        height: auto;
        fieldset {
            display: flex;
            padding: 15px;
            width: 30vw;
            height: min-content;
            box-shadow: $sombra-roja-blur;
            border: rgb(255, 0, 0) solid 1px;
            border-radius: 45px 0px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            legend {
                text-align: center;
                background-color: black;
                padding: 2px;
            }
            .footer__campo {
                width: 90%;
                margin-top: 2px;
                padding: 2px;
            }
            .footer__boton {
                background-color: black;
                border: solid red 1px;
                color: white;
                width: 60%;
                padding: 5px 10px;
                margin-top: 10px;
                border-radius: 30px 0px;
                transition: .5s all;
                text-transform: uppercase;
                &:hover {
                    background-color: $gris-transparente;
                }
            }
        }
    }
    .container__footer {
        display: flex;
        width: min-content;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        .footer__elemento {
            padding: 15px;
            justify-content: center;
            list-style: none;
            .footer__link {
                text-decoration: none;
                color: white;
                font-size: 5px;
                i {
                    font-size: 25px;
                    transition: all 1s;
                    &:hover {
                        font-size: 30px;
                        transform: rotate(720deg);
                    }
                }
            }
        }
    }
    p {
        color: red;
        font-weight: 400;
        font-size: 14px;
    }
}