* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

@import "estilos";

@import "grid";

@import "header";

@import "main";

@import "footer";

@import "responsive";